.container{
    margin-bottom: 5px;
    padding: 15px;
    border-bottom: 3px solid grey;

}

.nav {
    display: flex;
    gap:15px;    
}



.nav a{
    padding:6px 10px;
    color: black;
    font-weight: 600;
    font-size: 16px;
    border:1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.nav a.active{
    color: orange;
    border-color: orange;
}